// main: ../main.scss
/*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
.features {
  padding-top: 20px;
  padding-bottom: 20px;

  .features-item {
    background-color: var(--surface-color);
    display: flex;
    align-items: center;
    padding: 30px; // Increased padding for larger container
    transition: 0.3s;
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    position: relative;

    i {
      font-size: 48px; // Increased icon size
      padding-right: 15px; // Adjusted padding to balance larger icon
      line-height: 0;
    }

    h3 {
      font-weight: 700;
      margin: 0;
      padding: 0;
      line-height: 1;
      font-size: 20px; // Increased font size for heading

      a {
        color: var(--heading-color);
        transition: 0.3s;
      }
    }

    &:hover {
      border-color: var(--accent-color);

      h3 a {
        color: var(--accent-color);
      }
    }
  }
}