/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 900px;
  overflow: clip;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 66px;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;

  h2 {
    font-size: 32px;
    font-weight: 700;
    position: relative;

    &:before,
    &:after {
      content: '';
      width: 50px;
      height: 2px;
      background: var(--accent-color);
      display: inline-block;
    }

    &:before {
      margin: 0 15px 10px 0;
    }

    &:after {
      margin: 0 0 10px 15px;
    }
  }

  p {
    margin-bottom: 0;
  }

  @media(max-width: 768px) {
    h2 {
      font-size: 20px;

      &:before,
      &:after {
        content: '';
        width: 20px;
        height: 2px;
        background: var(--accent-color);
        display: inline-block;
      }
    }
  }
}

@import './sections/_hero-2.scss';
@import './sections/_about.scss';
@import './sections/_testimonials-2.scss';
@import './sections/_services-5.scss';
@import './sections/_hero-3.scss';
@import './sections/_stats.scss';
@import './sections/_call-to-action.scss';
@import './sections/_contact-4.scss';
@import './sections/_about-2.scss';
@import './sections/_contact.scss';
@import './sections/_contact-3.scss';
@import './sections/_terms-of-service.scss';
@import './sections/_privacy.scss';
@import './sections/_faq.scss';
@import './sections/_about-3.scss';
@import './sections/_features-2.scss';
@import './sections/_about-4.scss';
@import './sections/_departments.scss';
@import './sections/_about-5.scss';