// main: ../main.scss
/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
  color: white;
  background-color: var(--background-color);
  font-size: 14px;
  padding: 40px 0 0 0;
  position: relative;

  .icon {
    color: var(--accent-color);
    margin-right: 15px;
    font-size: 24px;
    line-height: 0;
  }

  h4 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .address p {
    margin-bottom: 0px;
  }

  .social-links {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.5);
      font-size: 16px;
      color: rgba(255, 255, 255, 0.5);
      margin-right: 10px;
      transition: 0.3s;

      &:hover {
        color: var(--accent-color);
        border-color: var(--accent-color);
      }
    }
  }

  .copyright {
    padding: 25px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    p {
      margin-bottom: 0;
    }
  }

  .credits {
    margin-top: 5px;
    font-size: 13px;
  }

  a,
  .nav-link {
    color: white;
    transition: color 0.3s ease;
  }

  a:hover,
  .nav-link:hover {
    color: #ddd;
    text-decoration: underline;
  }

  .social-links a {
    color: white;
  }

  .social-links a:hover {
    color: #ddd;
    border-color: #ddd;
  }
}